.BackgroundFooter{
    margin: 0;
    background-color: var(--sec-purple-color);
    padding: 0 20px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.BackgroundFooter#nightTheme{
    background-color: black;
}
.BackgroundFooter#jungleTheme{
    background-image: url("../svg/jungle_1.jpg");
}
.BackgroundFooter#dayTheme{
    background-color: #61dafb;
}

.radioButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.radioButtons {
    margin: 1%;
    display: grid;
    flex: 1;
    grid-template-rows: 1fr 1fr 1fr;
    align-self: stretch;
    justify-self: stretch;
    min-width: 100px;
    color: white;
    font-family: "Candara Light";
}

.buttons{
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-tiny);
    background-color: var(--sec-orange-color);
    border: none;
    color: white;
    padding: 10px 10px 0 10px;
    margin: 3px 3px 3px 3px;
    height: 50px;
}


