.Background{
    margin: 0;
    background-color: var(--sec-orange-color);
    padding: 50px 50px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Background#nightTheme{
    background-image: url("../svg/night_sky.jpg");
}
.Background#jungleTheme{
    background-color: greenyellow;;
}
.Background#dayTheme{
    background-color: white;
}

.NavArea{
    margin: 0;
    padding: 50px 0;
}

.Nav{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}


.Headline{
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-huge);
    width: 100%;
    text-align: center;
    padding: 0px 10px 50px 0px;
}
.break {
    flex-basis: 100%;
    height: 0;
}

.StoreButton{
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-tiny);
    background-color: var(--third-paleorange-color);
    border: none;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 3px 3px 3px 3px;
    height: 30px;
}


