.Background{
    margin: 0;
    background-color: var(--sec-orange-color);
    padding: 0 50px;
    color: white;
}
.Background#nightTheme{
    background-image: url("../svg/night_sky.jpg");
}
.Background#jungleTheme{
    background-color: greenyellow;;
}
.Background#dayTheme{
    background-color: white;
}


.NavArea{
    margin: 0;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
}

.Nav{
    width: 60%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}


.Headline{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.break {
    flex-basis: 100%;
    height: 0;
}


