.Middlepage {
    background-color: var(--third-turquoise-color);
    display: flex;
    flex-direction: row;
    min-width: 320px;
}

.svg{
    width: 40vw;
}


/*For mobilskjerm*/
@media only screen and (max-width: 600px) {
    .Middlepage {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        align-content: center;
    }
    .svg{
        max-height: 305px;
        min-width: 250px;
        justify-self: center;
        align-self: center;
    }
}

.Middlepage#nightTheme{
    background-image: url("../svg/night_sky.jpg");
}
.Middlepage#jungleTheme{
    background-color: greenyellow;;
}
.Middlepage#dayTheme{
    background-color: white;
}
