.Middlepage {
    background-color: var(--third-turquoise-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Picture{
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
}



/*For mobilskjerm*/
@media only screen and (max-width: 600px) {
    .Middlepage {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: yellow;
    }
}


/*
@media only screen and (min-width: 1000px) {
    .Middlepage {
        background-color: var(--third-turquoise-color);
    }
}
*/

    
