.NavButton{
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-tiny);
    background-color: #51adcf;
    border: none;
    color: white;
    padding: 20px 40px 20px 40px ;
    margin: 3px 3px 3px 3px;
    height: 30px;
    border-radius: 5px;
}

@media only screen and (max-device-width: 600px) {
   .NavButton{
      margin-left: 75px;
      margin-right: 75px;
      border-radius: 10px;
   }
}